---
apiVersion: v1
kind: Secret
metadata:
  name: backup-credentials
  namespace: operations
type: Opaque
stringData:
  bucket: ENC[AES256_GCM,data:REPLACE_WITH_SOPS_OUTPUT,iv:REPLACE,tag:REPLACE,type:str]
  prefix: ENC[AES256_GCM,data:REPLACE_WITH_SOPS_OUTPUT,iv:REPLACE,tag:REPLACE,type:str]
  expected-object: ENC[AES256_GCM,data:REPLACE_WITH_SOPS_OUTPUT,iv:REPLACE,tag:REPLACE,type:str]
sops:
  age:
    - recipient: AGE_PUBLIC_RECIPIENT_REPLACE_ME
      enc: AGE_WRAPPED_KEY_REPLACE_ME
  encrypted_regex: ^(data|stringData)$
  mac: ENC[AES256_GCM,data:REPLACE_WITH_SOPS_OUTPUT,iv:REPLACE,tag:REPLACE,type:str]
  version: 3.9.0
